body {
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    background-color: rgba(0, 0, 0, 0.02);
}

@import '~pretty-checkbox/src/pretty-checkbox.scss';

.icone {
    width: 25px;
}

.text-icone {
    display: flex;
    align-items: center;
    font-style: italic;
}

header {
    top:0;
    left:0;
    position: fixed;
    background-color: #403b2f;
    padding: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 200px;
    height: 100%;
    margin-right: 2rem;
    padding-top: 2rem;
}

.header-place {
    padding: 0.5rem;
    width: 200px;
    margin-right: 2rem;
    padding-top: 2rem;
}

.container {
    margin: 0 auto;
    display: flex;
}

.header-logo {
    width: 80%;
    margin: 0 auto;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: all 0.1s;
}

li {
    margin-bottom: 1rem;
}

.header-menu > ul > li > a:hover {
    padding-left: 0.5rem;
    transition: all 0.1s;
}

.annonce-item {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.img-container {
    width: 50%;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.img-container > div {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.annonce-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

.double-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.image-principale {
    height: 100%;
    width: 50%;
}

.images-secondaires {
    width: 50%;
    height: 100%;
}

.images-secondaires > div {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.align {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn {
    background-color: #d9a732;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: all 0.1s;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.tag {
    background-color: #d9a732;
    color: #fff;
    border-radius: 0.25rem;
    transition: all 0.1s;
    padding: 4px;
    font-weight: bold;
}

.tags {
    margin-bottom: 8px;
}

.filters-container {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.tag-item {
    color:#d9a732;
    font-weight: bold;
    padding: 4px;
    border-radius: 8px;
}

.tag-selected {
    background-color: #d9a732;
    color: #fff;
    border: solid 2px #d9a732;
    padding: 4px;
    border-radius: 8px;
}

.tag-item:hover {
    cursor: pointer;
}

.checkbox {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

input[type=number] {
    padding:4px;
    max-width: 70px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border:none
}

input[type=number]:focus {
    outline: none;
}

.form-number {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 150px;
}

.form-number > div {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cat_titre {
    font-size: 1rem;
    font-weight: bold;
}

.tag-cat > .align {
    margin-top: 8px;
}

.tag-cat {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin: 4px;
    padding: 4px;
}

.align-cat {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.pretty {
    margin-right: 0 !important;
}

.annonce-container {
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1400px;
    margin-top: 1rem;
}

.main-annonce {
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    padding:1rem;
}

.splide {
    position: relative;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 1rem;
    width: 50%;
}

.splide__list > img {
    border-radius: 1rem;
}

.splide__arrow svg {
    fill: #d9a732;
}

.splide__arrow:hover:not(:disabled) svg {
    fill: #d9a732;
}

.is-active {
    background: #d9a732 !important;
}

.splide__arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-container-annonce {
    width:100%;
    height: 400px;
    min-width: 500px;
    background-color: red;
    display: flex;
}

.img-container-annonce > .images-secondaires {
    width: 50%;
}

.img-container-annonce > .images-secondaires > img {
    max-width: 200px;
}

.banner {
    width: 100%;
    height: 150px;
    border-radius: 1rem;
    min-width: 460px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.full-image {
    width: 50%;
}

#map {
    width: 100%;
    height: 300px;
    border-radius: 1rem;
}

@media screen and (max-width: 900px) {
    header, .header-place {
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .align {
        justify-content: center;
    }
    .tag-cat > .align {
        justify-content: flex-start;
    }

    .annonce-item {
        width: 100%;
    }
}